In [56]:
import os
import pandas as pd
import openpyxl as opx
import numpy as np

LOOP_NUMBER = 2
SET_DATA = 2

df1 = pd.read_csv("testv2.csv")
df1

              x      y      z  kbn1
0      1.611685  CRrP6  ZNKcr   111
1      1.117984  JyXZD  lxbS7   111
2     -0.408352  UJurY  7purf   111
3      0.440830  WDdIQ  6GBSV   111
4      0.256909  hi9nf  wePQp   111
5      0.604885  9fxRG  C0abr   111
6     -1.057358  dS9oG  J3H11   111
7      0.178889  O0rpe  WEIDm   111
8      0.074515  ydsVd  OQyw0   111
9     -1.632280  JM3lU  qZTRw   111
10     0.991622  sCRtX  SnjrY   111
11     1.961163  akYR6  j8Kht   111
12    -0.468084  KkwRO  AH9Xi   111
13    -0.151884  sCRtX  qLCWI   111
14    -1.524846  zYGBj  ke95A   111
15    -0.270364  lcZqG  2tXf2   111
16     0.045049  hN9vH  mcYH3   111
17     1.225004  lOuk2  3w6Ge   111
18    -0.602300  Y3CIa  Npyok   111
19     0.565733  hi9nf  ubVJ5   111
20     0.998531  UxGti  IQ17g   111
21    -1.235693  wn5Tl  eisTC   111
22    -1.626813  owCus  yFBMX   111
23    -0.988894  ydsVd  BNZWf   111
24     0.706384  Y3CIa  cY4mW   111
25    -0.918224  jjPxd  ooife   111
26    -0.131337  CKzGQ  QgwSh   111
27    -0.006959  JaFfE  maqyY   111
28    -0.685809  hxn6r  kZx9n   111
29     1.057099  JM3lU  rJJxY   111
...         ...    ...    ...   ...
29970 -0.752329  wn5Tl  J0X1D   333
29971 -0.061166  lOuk2  edeP6   333
29972 -0.884834  HsrDu  FU32c   333
29973  1.502065  leNCT  tMCQ2   333
29974  0.798171  PQ6F4  7ylZC   333
29975 -0.942434  1IZE1  svU89   333
29976  1.300080  219tH  KJfgd   333
29977 -0.966725  sCRtX  Iw9CC   333
29978  1.319589  dS9oG  q23OD   333
29979  0.672885  dS9oG  AKqTi   333
29980 -0.236262  k0xJl  rPVQG   333
29981  0.295750  PQ6F4  JxLDT   333
29982 -0.098424  Y3CIa  SDsAl   333
29983  0.786415  k0xJl  kc5Vl   333
29984 -1.686592  OopuJ  h44vw   333
29985 -0.200592  x7c5I  96zHV   333
29986 -0.997853  9cfLm  x4jTj   333
29987  0.039006  hxn6r  LPZ6P   333
29988  1.968514  7dNjt  vzwSj   333
29989 -1.528951  O0rpe  DX80E   333
29990 -0.427429  hi9nf  znXgY   333
29991  0.732685  MVD5b  uaGOE   333
29992 -1.185846  Uzq85  wgMWO   333
29993 -0.552386  UJurY  bagQO   333
29994  0.978270  403al  miBGQ   333
29995  1.018835  JM3lU  pFYS8   333
29996 -0.424232  9cfLm  MmI25   333
29997 -0.590383  QmMJw  IV63t   333
29998  0.345468  OcBtz  qmRls   333
29999  0.010975  MVD5b  X2r8Y   333

[30000 rows x 4 columns]

In [57]:
para = pd.read_csv("test4.csv")
para

   kbn1  tea_no  tuc_no
0   111       1       1
1   222      10      10
2   333     100     100

In [58]:
def base_str(n, radix):
    digits = "0123456789abcdefghijklmnopqrstuvwxyz"

    def num_check(attr, i):
        try:
            return int(i)
        except:
            raise ValueError('invalid %s : %s' % (attr, i))

    n = num_check('n', n)
    radix = num_check('radix', radix)

    if not 1 < radix < 37:
        raise ValueError('invalid radix %s' % radix)

    is_negative = n < 0
    n = abs(n)
    result = []

    while n:
        result.insert(0, n % radix)
        n /= radix
        if n == 0:
            break

    s = ''. join([digits[i] for i in result])
    if is_negative:
        s = '-' + s
    return s

In [59]:
def set_gi_tk(df5):
  
    gi_tk = pd.DataFrame(columns=df5.columns,index=[])

    for ii in para['kbn1']:
        gi_tmp = df5[(df5['kbn1'] == ii) & (df5['bb_kbn'] == 1) ].copy()
        x = len(gi_tmp)
        gi_tmp = gi_tmp[::x//LOOP_NUMBER]
        gi_tk = pd.concat([gi_tk,gi_tmp],ignore_index=True)
        gi_tmp = df5[(df5['kbn1'] == ii) & (df5['bb_kbn'] == 2) ].copy()
        x = len(gi_tmp)
        gi_tmp = gi_tmp[::x//LOOP_NUMBER]
        gi_tk = pd.concat([gi_tk,gi_tmp],ignore_index=True)

editpath= "test.xlsx"
editsheetname="Sheet2" # 既存シート名
 
# 既存のシートを読み込み、対象セルの値を上書き
book = opx.load_workbook(editpath)
ws = book.worksheets[book.get_sheet_names().index(editsheetname)]

# 2~9の連番で繰り返し。
# DataFrameのから入力したい数値を呼び出し、対応するセルの値を上書き
for ii in range(len(gi_tk)):
    for i in range(7):
        ws.cell(row=ii+2,column=i+2).value = gi_tk.iloc[ii,i]
# 変更をGDP.xlsxに上書き保存
book.save(editpath)

NameError: name 'gi_tk' is not defined

In [60]:
def set_data1(df2):
    
    df2['bb_kbn'] = 1
    df3 = df2.copy()
    df3['bb_kbn'] = 2
    df3 = pd.concat([df3,df2],ignore_index=True)
    df3 = df3.sort_values(by=['tea_no','bb_kbn'])

    df5 = pd.DataFrame(columns=df1.columns,index=[])
    for ii in para['kbn1']:
        x = para.ix[para['kbn1'] == ii]['tuc_no'].values[0]
        df4 = df3[df3['kbn1'] == ii ].copy()
        y = x+len(df4)
        df4['tuc_no'] = [i for i in range(x,y)]
        df5 = pd.concat([df5,df4],ignore_index=True)
        para_list.append(y)
    #df5['tea_no'] = df5['tea_no'].astype(int)
    df5['tea_no'] = df5['tea_no'].apply(lambda x: base_str(x,36))

    df5.to_csv ("exportfile.csv",index=False)

    set_gi_tk(df5)

In [73]:
def set_data2(df2):

    
    #1対1のケース
    dd0 = df2[::4].copy()
    dd0['volume'] = pd.Series( np.random.random( len(dd0) ), index=dd0.index )
    
    dd0_1 = dd0.copy()
    dd0_1['bb_kbn'] = 1
    dd0['bb_kbn'] = 2
    dd0 = pd.concat([dd0,dd0_1],ignore_index=True)
    
    #1対３のケース
    dd1 = df2[1::4].copy()
    dd1['bb_kbn'] = 1
    dd1_1 = dd1.copy()
    dd1_1['bb_kbn'] = 2
    dd1_2 = dd1_1.copy()
    dd1_3 = dd1_1.copy()
    
    volume = pd.DataFrame(columns=['vol1','vol2','vol3','vol'],index=[])
    volume['vol1'] = pd.Series( np.random.random( len(dd1_1) ), index=dd1_1.index )
    volume['vol2'] = pd.Series( np.random.random( len(dd1_2) ), index=dd1_2.index )
    volume['vol3'] = pd.Series( np.random.random( len(dd1_3) ), index=dd1_3.index )
    volume['vol'] = volume['vol1'] + volume['vol2'] + volume['vol3'] 
    
    dd1_1['volume'] = volume['vol1']
    dd1_2['volume'] = volume['vol2']
    dd1_3['volume'] = volume['vol3']
    dd1['volume'] = volume['vol']
    
    dd1 = pd.concat([dd1,dd1_1,dd1_2,dd1_3],ignore_index=True)

    #3対1のケース
    dd2 = df2[2::4].copy()
    dd2['bb_kbn'] = 2
    dd2_1 = dd2.copy()
    dd2_1['bb_kbn'] = 1
    dd2_2 = dd2_1.copy()
    dd2_3 = dd2_1.copy()

    volume = pd.DataFrame(columns=['vol1','vol2','vol3','vol'],index=[])
    volume['vol1'] = pd.Series( np.random.random( len(dd2_1) ), index=dd2_1.index )
    volume['vol2'] = pd.Series( np.random.random( len(dd2_2) ), index=dd2_2.index )
    volume['vol3'] = pd.Series( np.random.random( len(dd2_3) ), index=dd2_3.index )
    volume['vol'] = volume['vol1'] + volume['vol2'] + volume['vol3'] 
    
    dd2_1['volume'] = volume['vol1']
    dd2_2['volume'] = volume['vol2']
    dd2_3['volume'] = volume['vol3']
    dd2['volume'] = volume['vol']
    
    dd2 = pd.concat([dd2_1,dd2_2,dd2_3,dd2],ignore_index=True)
    
    #2対3のケース
    dd3 = df2[3::4].copy()
    
    dd3['bb_kbn'] = 1
    dd3_u2 = dd3.copy()
    dd3_k1 = dd3.copy()
    dd3_k1['bb_kbn'] = 2
    dd3_k2 = dd3_k1.copy()
    dd3_k3 = dd3_k1.copy()
    
    volume = pd.DataFrame(columns=['kvol1','kvol2','kvol3','uvol1','uvol2'],index=[])
    volume['kvol1'] = pd.Series( np.random.random( len(dd3_k1) ), index=dd3_k1.index )
    volume['kvol2'] = pd.Series( np.random.random( len(dd3_k2) ), index=dd3_k2.index )
    volume['kvol3'] = pd.Series( np.random.random( len(dd3_k3) ), index=dd3_k3.index )
    volume['uvol1'] = (volume['kvol1'] + volume['kvol2'] + volume['kvol3'])//2
    volume['uvol2'] = (volume['kvol1'] + volume['kvol2'] + volume['kvol3']) - volume['uvol1']
    
    dd3_k1['volume'] = volume['kvol1']
    dd3_k2['volume'] = volume['kvol2']
    dd3_k3['volume'] = volume['kvol3']
    dd3['volume'] = volume['uvol1']
    dd3_u2['volume'] = volume['uvol2']
    
    dd3 = pd.concat([dd3,dd3_u2,dd3_k1,dd3_k2,dd3_k3],ignore_index=True)
    
    dd0 = pd.concat([dd0,dd1,dd2,dd3],ignore_index=True)
    #dd0 = pd.concat([dd0,dd1,dd2],ignore_index=True)
    dd0 = dd0.sort_values(by=['kbn1','tea_no','bb_kbn'])

    df5 = pd.DataFrame(columns=df1.columns,index=[])
    for ii in para['kbn1']:
        x = para.ix[para['kbn1'] == ii]['tuc_no'].values[0]
        df4 = dd0[dd0['kbn1'] == ii ].copy()
        y = x+len(df4)
        df4['tuc_no'] = [i for i in range(x,y)]
        df5 = pd.concat([df5,df4],ignore_index=True)
        para_list.append(y)
    #df5['tea_no'] = df5['tea_no'].astype(int)
    df5['tea_no'] = df5['tea_no'].apply(lambda x: base_str(x,36))

    df5.to_csv ("exportfile.csv",index=False)

    #set_gi_tk(df5)

In [74]:
%%time
x = 11
y = 0
para_list = []
df2 = pd.DataFrame(columns=df1.columns,index=[])
for ii in para['kbn1']:
    x = para.ix[para['kbn1'] == ii]['tea_no'].values[0]
    df3 = df1[df1['kbn1'] == ii ].copy()
    y = x+len(df3)
    df3['tea_no'] = [i for i in range(x,y)]
    df2 = pd.concat([df2,df3],ignore_index=True)
    para_list.append(y)
para.tea_no = para_list
para.to_csv("test4.csv",index=False)


if(SET_DATA == 1):
    set_data1(df2)
else:
    set_data2(df2)

CPU times: user 1.4 s, sys: 70.6 ms, total: 1.47 s
Wall time: 1.48 s

excelに出力する方法。既存のシートに上書きパターン

* DataFrameのコピーは = ではダメ。=はリンクを貼るイメージ。コピーする時はcopy。
* df.applyだとlambdaに渡されるのはSerias？ad['xxx'].applyだと変数？

df2 = df1 
df2['bibi_kbn'] = 1
df3 = df1
df3['bibi_kbn'] = 2
df3 = pd.concat([df2,df3],ignore_index=True)
df3

In [ ]:
df2 = df1.copy() 
df2['bibi_kbn'] = 1
df3 = df1.copy()
df3['bibi_kbn'] = 2
df3 = pd.concat([df2,df3],ignore_index=True)
df3